/* about us*/
#about-us
{ 
    background-color:var(--third-color);
    margin-bottom: 5px;
}
#about-us11
{
    background-color:var(--seventh-color);
    margin: 5px; 
    border: 2px solid black; 
    box-shadow: 5px 5px;
    padding-left: 15px;  
}
#about-us22
{
    background-color:var(--seventh-color);
    margin: 5px;
    border: 2px solid black; 
    box-shadow: 5px 5px; 
    padding-left: 15px; 
}

#font
{ 
    font-size: 23px;
}

.aboutus-gallery 
{
    max-width: 100%;
    max-height: 100%;
    border:3px solid black;
}

#about-us1 .one, #about-us2 .one {
    width:100%;
    text-align:center;
}


@media only screen and (min-width:768x){
    .five {
        flex:5;
    }

    .one {
        flex:1;
    }
}