/* about us*/
#about-us
{ 
    background-color:var(--third-color);
}

.aboutus-content {
    padding:60px 100px;
    color:white;  
}

.aboutus-content h3 {
    font-size:32px;
}

#about-us11
{
    background-color:black; 
    
}
#about-us22
{
    background-color:var(--third-color);
}

#font
{ 
    font-size: 23px;
}

#about-us1 {
    justify-content:stretch;    
}

.aboutus-pictures 
{   max-width:40%;
}

#about-us1 .one, #about-us2 .one {
    width:100%;
    text-align:center;
}


@media only screen and (min-width:768x){
    .five {
        flex:5;
    }

    .one {
        flex:1;
    }

    .two {
        flex:2;
    }
    .aboutus-pictures {   
        display: none;
    }

}