#contact-us
{ 
    background-color: var(--third-color);
}

#papa-pic , #mom-pic, #nana-pic 
{ 
    max-width: 300px;
    max-height: 300px;
    display:block;
    margin:auto;
}

#contact-stuff
{ 
    font-size: 25px;
}
#nana, #mom, #papa
{
    background: white; 
    padding: 10px;
    padding-top: 30px;   
    width:70%;  
    border:5px solid black; 
    text-align: center;
    box-shadow: 5px 5px;
    font-size: 25px;
    align-items: center;
    margin:auto;
}

#link
{ 
    text-decoration: none; 
    color: var(--seventh-color);
    display: block;
    text-align: center;
    font-size: x-large;
}
#link:hover
{ 
    background-color: var(--third-color);
}


@media only screen and (min-width:800px){
    .contacts
    { 
        margin: auto;
        justify-content: space-between;
    }

    .person
    {
        flex-basis:30%;
    }
}

@media only screen and (min-width:800px){
    
}