/*reviews*/
#company
{
  background: white; 
  padding: 10px; 
  margin: 20px; 
  width:80%; 
  border:5px solid var(--primary-color);
  box-shadow: 10px 10px;
  padding: 20px;
  margin-top: 20px; 
  margin-bottom: 20px;
}

#company-name
{ 
    color:#8a3134; 
    font-weight: bold;
    font-size: 30px;
   font: modern serif; 
}
p
{
    font-size: 20px;
}
#reviews-section
{ 
    background-color:#8a3134;
}

#images
{
   max-height: 300px;
   max-width: 200px; 
}
#add-review
{
    background-color: #8a3134;
    color: white;
    padding: 10px;
    /* margin: 10px; */
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    

}
.company
{ 
    flex: 20%;
    margin: auto;
}

.reviews-grid
{
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr)); 
    align-content: center;
    margin:auto;
    justify-content: center;
    padding-left: 70px;
}
#change-buttons {
    margin-top: 10px;
    margin-left: 20px;
  }
  
  #change-buttons a {
    text-decoration: none;
    font-size: 1.5em;
    margin-right: 20px;
  }


@media only screen and (max-width:600px){
    #company
    { 
        flex-wrap: flex;
    }
    .reviews-grid 
    { 
        display: grid;
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        align-content: center;
        margin:auto;
        justify-content: center;
        padding-left: 70px;
    }
}



